.d-n {
    display: none;
}

.w-5 {
    display: none;
}

body {
    font-family: 'Nunito', sans-serif;
}

th,
td {
    text-align: center
}

.selected {
    outline-color: transparent;
    border: 2px solid black !important;
    font-weight: 600;
}